{# Author: Felipe Rodríguez Valenzuela #}
{% extends 'FragProjectFragBundle:Search:base.html.twig' %}
{% form_theme form 'FragProjectFragBundle:Form:niceFields.html.twig' %}

{%block page_title%}Sequence Search{%endblock%}

{% block main %}

<form action="{{ path('fragprot_seq_search_home') }}" method="get">
        
        <table>
            <tr>
                <td>{{ form_label(form.sequence) }}</td>
                <td>{{ form_errors(form.sequence) }}</td>
                <td>{{ form_widget(form.sequence) }}</td>
            </tr>
            <tr>
                <td>{{ form_rest(form) }}</td><td></td><td></td>
            </tr>
            <tr>
                <td><button type="submit">Search</button></td><td></td><td></td>
            </tr>
        </table>
        
    
        
</form>

{% endblock %}
