{# Author: Felipe Rodríguez Valenzuela #}
{% extends 'MeloLabFragProtWebBundle:Search:base.html.twig' %}


{% block javascripts %}
{{parent()}}
<script src="{{ asset('bundles/melolabfragprotweb/js/search.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/melolabfragprotweb/js/jmolPopup.js') }}" type="text/javascript"></script>
{% endblock %}


{% block page_title %}Search Results{% endblock %}

{% block main %}
    
<h4 style="font-weight: normal">Found <span style="font-weight: bold">{{fragments|length}}</span> fragments out of.</h4>
    
    {% if fragments|length > 0 %}
        <div id="accordion-fragments">
            {% for fragment in fragments %}
                <h3 id="fragment-head">
                    <span id="fragment-seq">{{fragment.sequence}}</span>
                    <span style="display: inline-block;width:80px;text-align: right;" >Ini: {{"%04d"|format(fragment.initPos)}}</span>
                    <span style="display: inline-block;width:80px;text-align: right;" >End: {{"%04d"|format(fragment.endPos)}}</span>
                    <span style="display: inline-block;width:90px;text-align: right;" >Group: {{"%06d"|format(fragment.initPos)}}</span>
                    <span style="display: inline-block;width:60px;text-align: right;" >Chain: {{fragment.chain}}</span>
                    <span style="display: inline-block;width:60px;text-align: right;" >Type: {{fragment.fragmentType.shortName}}</span>
                    <span style="display: inline-block;width:70px;text-align: right;" >Pdb code: </span>
                    <span style="display: inline-block;width:40px;text-align: right;font-family: monospace;" >{{fragment.pdb.fourLetterName}}</span>
                </h3>
                <div id="fragment-body">
                    <h3>Pdb</h3><br/>
                    <span style="display: inline-block;" >Code: </span>
                    <span style="display: inline-block;font-family:monospace">{{fragment.pdb.fourLetterName}}</span><br/>
                    {%if fragment.pdb.resolution%}<span>Resolution: {{fragment.pdb.resolution}} A.</span><br/>{%endif%}
                    <span>Structure Description: {{fragment.pdb.fullName}}</span><br/>
                    <br/><h3>Fragment</h3><br/>
                    <span>Type: {{fragment.fragmentType.fullName}}</span><br/>
                    <span><a href="{{path('fragprot_popup_jmol',{"id":fragment.id})}}" onclick="return popitup('{{path('fragprot_popup_jmol',{"id":fragment.id})}}')">Window</a></span>
                    <br/>
                    
                </div>
            {% endfor %}
        </div> 
        {% if query%}
            <div class="navigation">
               {{ knp_pagination_render(fragments) }}
            </div>
        {%endif%}
    {% endif %}

{% endblock %}
